<!DOCTYPE html>
<html>
<head>
	<title>Login Page</title>
<!--Made with love by Mutiullah Samim -->

	
</head>
<body>

   <nav class="navbar navbar-light bg-dark " >
  <a class="navbar-brand  " href="#" style="color:rgb(153, 214, 32);"><b>&#169; HAFC Bank Pvt.Ltd </b></a>
  <span class="quote text-light">Giving you freedom...</span>
  <button (click)="logout()" style="color: rgb(244, 14, 14);font-family: Georgia, 'Times New Roman', Times, serif;">Logout</button>
  
</nav>

<h1 style="font-family:'Courier New', Courier, monospace;color: rgb(8, 222, 172);">welcome {{username}}...</h1>
<a routerLink="/transaction">Transaction</a>


<div class="container col-md-12 mt-0">
	<div class="d-flex justify-content-center h-100">
		<div class="card">
			<div class="card-header">
				<h3 class="text-center">Deposit</h3>
				
			</div>
			<div class="card-body">
				<form [formGroup]="DepositForm">

                   



					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-user"></i></span>
						</div>
						<input type="text" class="form-control" name="acc" formControlName="acc" placeholder="Account number" id="register_accno" required>
						
					</div>
					<div *ngIf="(this.DepositForm.get('acc')?.touched||this.DepositForm.get('acc')?.dirty)&&(this.DepositForm.get('acc')?.errors)" 
					style="color: red;">
						invalid Account Number
					</div>

					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-key"></i></span>
						</div>
						<input type="password" name="pwd" formControlName="pwd" class="form-control" placeholder="Password" id="register_password" required>
					</div>

					<div *ngIf="(this.DepositForm.get('pwd')?.touched||this.DepositForm.get('pwd')?.dirty)&&(this.DepositForm.get('pwd')?.errors)" 
					style="color: red;">
						invalid Password
					</div>

                    <div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-user"></i></span>
						</div>
						<input type="text" class="form-control" name="amount" formControlName="amt" placeholder="Amount" id="register_amount" required>
						
					</div>
					<div *ngIf="(this.DepositForm.get('amt')?.touched||this.DepositForm.get('amt')?.dirty)&&(this.DepositForm.get('amt')?.errors)" 
					style="color: red;">
						invalid Amount
					</div>
					
					<div class="form-group">
						<input type="submit" (click)="deposit()"  value="Deposit" class="btn float-right login_btn " style="width:50%" >
					</div>
				</form>
			
	</div>
</div>
</div>
</div>


<div  class="container col-md-12 mt-0">
	<div class="d-flex justify-content-center h-100">
		<div class="card">
			<div class="card-header">
				<h3 class="text-center">Withdraw</h3>
				
			</div>
			<div class="card-body">
				<form [formGroup]="WithdrawForm">

                   



					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-user"></i></span>
						</div>
						<input type="text" class="form-control" name="acc" formControlName="acc1" placeholder="Account number" id="register_accno" required>
						
					</div>
					<div *ngIf="(this.WithdrawForm.get('acc1')?.touched||this.WithdrawForm.get('acc1')?.dirty)&&(this.WithdrawForm.get('acc1')?.errors)" 
					style="color: red;">
						invalid Account Number
					</div>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-key"></i></span>
						</div>
						<input type="password" name="pwd" formControlName="pwd1" class="form-control" placeholder="Password" id="register_password" required>
					</div>
					<div *ngIf="(this.WithdrawForm.get('pwd1')?.touched||this.WithdrawForm.get('pwd1')?.dirty)&&(this.WithdrawForm.get('pwd1')?.errors)" 
					style="color: red;">
						invalid Password
					</div>

                    <div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-user"></i></span>
						</div>
						<input type="text" class="form-control" name="amount" formControlName="amt1" placeholder="Amount" id="register_amount" required>
						
					</div>
					<div *ngIf="(this.WithdrawForm.get('amt1')?.touched||this.WithdrawForm.get('amt1')?.dirty)&&(this.WithdrawForm.get('amt1')?.errors)" 
					style="color: red;">
						invalid Amount
					</div>
					
					<div class="form-group">
						<input type="submit" (click)="withdraw()" value="Withdraw" class="btn float-right login_btn " style="width:50%" >
					</div>
				</form>
			
	</div>
</div>
</div>
</div>



</body>
</html>

