<!DOCTYPE html>
<html>
<head>
	<title>Login Page</title>
<!--Made with love by Mutiullah Samim -->

	
</head>
<body>

   <nav class="navbar navbar-light bg-dark " >
  <a class="navbar-brand  " href="#" style="color:rgb(153, 214, 32);"><b>&#169; HAFC Bank Pvt.Ltd </b></a>
  <span class="quote text-light">Giving you freedom...</span>
  
</nav>


<div class="container col-md-12 mt-0">
	<div class="d-flex justify-content-center h-100">
		<div class="card">
			<div class="card-header">
				<h3 class="text-center">Register</h3>
				
			</div>
			<div class="card-body">
				<form [formGroup]="RegisterForm" (ngSubmit)="Register()">

                    <div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-user"></i></span>
						</div>
						<input type="text" class="form-control" name="uname" formControlName="uname" placeholder="Name" id="register_uname" required>
						
					</div>
					<div *ngIf="(this.RegisterForm.get('uname')?.touched||this.RegisterForm.get('uname')?.dirty)&&(this.RegisterForm.get('uname')?.errors)" 
					style="color: red;">
						invalid username
					</div>



					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-user"></i></span>
						</div>
						<input type="text" class="form-control" name="acc" formControlName="acc" placeholder="Account number" id="register_accno" required>
						
					</div>
					<div *ngIf="(this.RegisterForm.get('acc')?.touched||this.RegisterForm.get('acc')?.dirty)&&(this.RegisterForm.get('acc')?.errors)" 
					style="color: red;">
						invalid Account Number
					</div>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-key"></i></span>
						</div>
						<input type="password" name="pwd" formControlName="pwd" class="form-control" placeholder="Password" id="register_password" required>
					</div>
					<div *ngIf="(this.RegisterForm.get('pwd')?.touched||this.RegisterForm.get('pwd')?.dirty)&&(this.RegisterForm.get('pwd')?.errors)" 
					style="color: red;">
						invalid Account Number
					</div>
					
					<div class="form-group">
						<input type="submit"  value="Register" class="btn float-right login_btn " style="width:50%" >
					</div>
				</form>
			</div>
			<p style="color:white;align-items:baseline;padding-left: 20px;padding-bottom: 20px;">Existing user? <a routerLink="">Login</a></p>
		</div>
	</div>
</div>


</body>
</html>
